<div class="row">
  <div class="col-md-6 box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">New quest</h3>
    </div>
    <%= form_for(quest, html: {role: 'form'}) do |f| %>
      <div class="box-body">
        <% if quest.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

            <ul>
            <% quest.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, {class: 'form-control'} %>
        </div>

        <div class="form-group">
          <%= f.label :executor %>
          <%= f.select('executor', User.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select User'}, {class: 'form-control'}) %>
        </div>

        <div class="actions">
          <%= f.submit class: 'btn btn-primary' %>
        </div>

      </div>
    <% end %>
  </div>
</div>
