<p id="notice"><%= notice %></p>

<p>
  <strong>Encounter:</strong>
  <%= @comment.encounter %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @comment.visible %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
