<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">List of Competencies</h3>
      </div>

      <div class="box-body">
        <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

          <div class="row">
            <div class="col-sm-12">
              <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Competency</th>
                    <th>Level</th>
                    <th>Started date</th>
                  </tr>
                </thead>

                <tbody>
                  <% @user_competency_levels.each do |user_competency_level| %>
                    <tr>
                      <td><%= user_competency_level.user.name %></td>
                      <td><%= user_competency_level.competency.name %></td>
                      <td><%= user_competency_level.level.name %></td>
                      <td><%= user_competency_level.started_date %></td>
                      <td>
                        <div class="btn-row">
                          <%= link_to raw('<i class="fa fa-search"></i>'), user_competency_level, class: 'btn btn-sm btn-success' %>
                          <%= link_to raw('<i class="fa fa-cogs"></i>'), edit_user_competency_level_url(user_competency_level), class: 'btn btn-sm btn-warning' %>
                          <%= link_to raw('<i class="fa fa-trash"></i>'), user_competency_level_url(user_competency_level), class: 'btn btn-sm btn-danger', method: :delete,
                                          data: { confirm: 'Are you sure you want to delete this element?' } %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to 'New competency', new_user_competency_level_path, class: 'btn btn-success pull-right' %>
  </div>
</div>
